$header-height: 80px

.header
  box-shadow: 0 4px 2px -2px gray

  .mat-toolbar-single-row
    height: $header-height

.header-logo
  padding: 10px
  height: 60px


.header-links
  display: flex
  justify-content: flex-end
  width: 100%

.header-list
  display: flex
  flex-direction: row
  list-style: none
  padding: 0

.header-list__link
  text-decoration: none
  font-size: 20px
  margin-left: 20px
  color: whitesmoke
