<header class="header">
  <mat-toolbar class="header-content">
    <span class="header-title">
      <a routerLink="/">
        <img class="header-logo" src="{{ logoPath }}" alt="Logo">
      </a>
    </span>
    <nav class="header-links">
      <ul class="header-list">
        <li class="header-list__item" *ngFor="let link of headerLinks">
          <a class="header-list__link"
             mat-raised-button color="primary"
             routerLink="{{ link.link }}"
             routerLinkActive="active">{{ link.title }}</a>
        </li>
      </ul>
    </nav>
  </mat-toolbar>
</header>
<main>
  <router-outlet></router-outlet>
</main>
